# -*- mode: conf -*-
# .coveragerc to control coverage.py
[run]
branch = True
omit =
     # these are done during translation
     targetpycket.py
     pycket/__main__.py
     pycket/config.py

     # these are tools
     pycket/test/targetjson.py
     pycket/expand_tofile.py
     pycket/test/jit.py

     # these are helper tests that should not contribute to coverage
     pycket/test/bubble.py
     pycket/test/test_larger.py
     pycket/test/racket-tests.py
     pycket/test/conftest.py

     # this is pypy.
     pycket/pypy*/
     pypy*/


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    if debug

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError


[html]
directory = pycket/test/coverage_report
