language: python
cache: apt
sudo: false
python:
- pypy
addons:
  apt:
    sources:
      - pypy
    packages:
      - pypy
      - pypy-dev
notifications:
  irc:
    channels:
    - chat.freenode.net#pycket
    use_notice: false
    skip_join: true
env:
  global:
  - PATH=./racket/bin:$PATH
  matrix:
  - TEST_TYPE=tests
  - TEST_TYPE=coverage
  - TEST_TYPE=translate
  - TEST_TYPE=translate_nojit_and_racket_tests
matrix:
  fast_finish: true
  allow_failures:
  - env: TEST_TYPE=coverage
before_install: ./travis.sh prepare
install: ./travis.sh install
script: ./travis.sh test $TEST_TYPE
