language: python
cache: apt
sudo: false
python:
  - pypy
notifications:
  irc:
    channels:
      - "chat.freenode.net#pycket"
    use_notice: false
    skip_join: true
env:
  matrix:
    - TEST_TYPE=tests
    - TEST_TYPE=coverage
    - TEST_TYPE=translate
    - TEST_TYPE=translate_nojit_and_racket_tests
before_install: ./travis.sh prepare
install: ./travis.sh install
script: ./travis.sh test $TEST_TYPE

# EOF
