language: python
cache: apt
python:
  - pypy
env:
  matrix:
    - TEST_TYPE=tests
    - TEST_TYPE=translate
    - TEST_TYPE=translate-nojit
before_install:
  - sudo add-apt-repository -y ppa:plt/racket
  - sudo apt-get update
  - sudo apt-get install -qq racket
install:
  - wget https://bitbucket.org/pypy/pypy/get/default.tar.bz2 -O `pwd`/../pypy.tar.bz2 || wget https://bitbucket.org/pypy/pypy/get/default.tar.bz2 -O `pwd`/../pypy.tar.bz2
  - tar -xf `pwd`/../pypy.tar.bz2 -C `pwd`/../
  - mv ../pypy-pypy* ../pypy
  - cd pycket/pycket/pycket-lang && raco pkg install
script:
  - export PYTHONPATH=$PYTHONPATH:../pypy:pycket
  - "case \"$TEST_TYPE\" in
       tests)
         ../pypy/pytest.py
         ;;
      translate)
        python ../pypy/rpython/bin/rpython -Ojit --batch targetpycket.py
        ;;
      translate-nojit)
        python ../pypy/rpython/bin/rpython --batch targetpycket.py
        ;;
    esac"

